In [1]:
import pandas as pd

In [10]:
latent_dim = 16
num_epochs = 500
B = 10

RE_minority = pd.read_csv(f"experiment_dim_{latent_dim}_B_{B}/n_epochs_{num_epochs}_RE_minority.csv")
RE_majority = pd.read_csv(f"experiment_dim_{latent_dim}_B_{B}/n_epochs_{num_epochs}_RE_majority.csv")

In [11]:
l_min = RE_minority.mean(axis=0)
l_maj = RE_majority.mean(axis=0)
l_min.shape,l_maj.shape

((47,), (47,))

In [12]:
diff = l_min - l_maj
diff

age       0.045034
mcv       0.010259
hgb       0.013127
hct       0.026162
plt       0.016943
mch       0.000844
mchc      0.017457
rdw       0.050517
mpv       0.014276
lym      -1.424438
mono     -0.124913
eos      -0.026231
baso     -0.054098
nt        0.005985
aptt      0.021064
fib       0.026277
sodium    0.040163
potass    0.052175
ca        0.018825
phos      0.106881
mg        0.038232
crea      0.056455
bun       0.096056
hs        0.069675
gbil      0.048155
tp        0.067457
alb       0.044410
amy      -0.018478
lip      -0.047484
che       0.032708
ap        0.286386
asat     -0.041678
alat     -0.217871
ggt       0.198559
ldh      -0.117114
ck        0.057892
glu       0.377031
crp       0.030016
basor    -0.075017
eosr     -0.051910
lymr     -0.019041
monor     0.005785
neu       0.016509
neur      0.016155
pdw       0.012953
rbc       0.020885
wbc      -0.237692
dtype: float64

In [18]:
delta = 0.7
delta_threshold = diff.quantile(delta)
delta_threshold

np.float64(0.041012514967910516)

In [19]:
extracted_features = ", ".join(diff[diff > delta_threshold].index.to_list())
extracted_features 

with open(f"experiment_dim_{latent_dim}_B_{B}/features_extracted_delta_{delta}.txt", "w") as file:
    file.write(extracted_features)

In [ ]:
#df = pd.read_csv("train_test_val_data/train_data.csv")
#df.head()

,id,sex,age,mcv,hgb,hct,plt,mch,mchc,rdw,...,basor,eosr,lymr,monor,neu,neur,pdw,rbc,wbc,bacteremia
0,1,female,62,99.3,11.5,35.9,307,31.5,31.8,19.5,...,0.413223,0.000000,1.652893,7.024793,22.0,90.909091,10.6,3.7,24.10,0
1,5,male,46,96.3,7.4,22.8,64,31.2,32.4,19.7,...,0.568182,0.568182,8.522727,6.818182,14.7,83.522727,14.1,2.5,17.45,0
2,7,male,84,91.3,10.3,31.1,309,30.4,33.3,13.8,...,0.000000,0.000000,11.016949,6.779661,9.7,82.203390,8.7,3.5,11.58,0
3,9,female,38,85.1,13.7,38.7,183,30.2,35.3,12.6,...,0.000000,0.000000,8.333333,4.166667,8.4,87.500000,12.2,4.4,9.86,0
4,10,male,68,104.5,15.7,46.9,144,34.8,33.5,13.9,...,0.000000,1.000000,22.000000,9.000000,6.8,68.000000,12.9,4.3,9.94,0

In [ ]:
#check_df = df.drop(columns=["sex", "id", "bacteremia"])